@import url("https://fonts.googleapis.com/css2?family=Acme&family=Montserrat&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: clamp(16px, 2.5vw, 24px);
  --pink: #ef476f;
  --green: #06d6a0;
  --blue: #118ab2;
  --darker-blue: #073b4c;
  --dark-blue: #021218;
  --yellow: #ffd166;
}

body {
  background: var(--dark-blue);
  background: linear-gradient(var(--dark-blue), transparent),
    radial-gradient(circle at 0 0, var(--dark-blue), transparent),
    radial-gradient(circle at 50% 0, var(--dark-blue), transparent 125%),
    radial-gradient(circle at 100% 0, var(--dark-blue), transparent),
    radial-gradient(circle at 100% 100%, var(--yellow), transparent),
    radial-gradient(circle at 0% 100%, var(--pink), transparent);
  height: 100vh;
}

h1 {
  color: var(--yellow);
  font-family: "Acme", sans-serif;
  margin: 0;
}
